 .app-container {
  width: 100%;
}
 
 /* The sidebar menu */
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 10%; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
    display:inline-block;
}

/* The navigation menu links */
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Style page content */
.content {
  width: 90%;
  padding-left: 12%;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
} 

/* main page */
.post-title {
  font-size : 30px;
  color: black;
  padding-top: 30px;
  display: inline-block;
}

.post-author {
  font-size : 20px;
  color: #818181;
}

.post-container {
  display: inline-block;
  width: 100%;
  padding-bottom: 20px;
}

.post-element {
  float:left;
  padding-left: 50%;
  padding: 0px 0px 0px 16px !important;
  border: none;
  vertical-align: middle;
  height: 48px;
  line-height: 48px;
}

.new-post {
  position: fixed;
  right: 25px;
  bottom: 50px;
  
}

.to-home {
  position: fixed;
  right: 80px;
  bottom: 50px;
}

/* post form */
.new-post-content {
  padding-top: 50px;
  font-family: sans-serif;
  font-size: 25px;
}
input, select, textarea {
  width: 95%;
  border: 2px solid #F3EEED;
  border-radius: 10px;
  padding: 10px;
  font-family: sans-serif;
  font-size: 20px;
  color: #1048BF;
  margin-bottom: 20px;
}

input[type=text]:focus, 
textarea[type=text]:focus, 
select:focus {
    border: 3px solid grey;
    border-radius: 10px;
    outline: none;
}

button {
    background-color: grey;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    right: 50px;
    font-size: 20px;
}

input[type=button]:focus {
  border: 3px solid black;
  outline: none;
}

/* PostView */

.post-view-content {
  font-family: sans-serif;
  font-size : 20px;
}

.author, .category {
  color: #818181;
  font-family: sans-serif;
}

.post-view-author, .post-view-category, .post-view-body {
  padding-bottom: 15px;
}

.post-view-comments {
  font-size : 20px;
}

.comment-body {
  color: #1048BF;
}

.comment-author {
  font-size: 17px;
}
.comment-author-author {
  color: #818181;
}

.comment-button {
  padding: 5px 10px;
  font-size: 18px;
  background-color: #A9D0F5;
}

/* comment form */

.comment-form {

}

input {
  width: 40%;
  border: 2px solid #F3EEED;
  border-radius: 10px;
  padding: 10px;
  font-family: sans-serif;
  font-size: 20px;
  color: #1048BF;
  margin-bottom: 20px;
}








